:root {
    --background: #08111D;
    --bg-secondary: #F4F7FC;
    --bleu-color: #034BFF;
    --color-lime: #C3F85C;
    --white-color: #FFFF;
    --account1-bg: #B8C9CF;
    --account2-bg: #D7C3B6;

}

/* START HERO SECTION */
#section {
    min-height: 100vh;
}

section.hero-section {
    display: flex;
    align-items: center;
    background-color: var(--background);
    color: white;
}

section.hero-section .image {
    width: 100%;
}

section.hero-section .image img {
    width: 100%;
}

section.hero-section header {
    padding-inline: 50px;
}

section.hero-section header h1 {
    font-size: 80px;
    max-width: 70%;
}

section.hero-section header h1 span {
    color: var(--bleu-color);
}

section.hero-section header h2 {
    font-weight: 800;
}

section.hero-section header p {
    margin-block: 20px;
    max-width: 60%;
}

section.hero-section header div.buttons {
    margin-block: 35px;
}

section.hero-section header div.buttons .btn.btn-transparent {
    background: transparent;
    color: var(--white-color);
    border: 1px solid var(--bleu-color);
}

section.hero-section header div.accounts {
    display: flex;
    align-items: center;
    gap: 10px;
}

section.hero-section header div.accounts div {
    display: flex;
    align-items: center;
}

section.hero-section header div.accounts span {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero-section header div.accounts span:nth-child(3),
section.hero-section header div.accounts span:first-child {
    background-color: var(--account1-bg);
}

section.hero-section header div.accounts span:nth-child(2),
section.hero-section header div.accounts span:nth-child(4) {
    background-color: var(--account2-bg);
}

section.hero-section header div.accounts p {
    font-weight: 100;
    max-width: 30%;
}


@media(max-width: 980px) {
    section.hero-section .image {
        display: none;
    }

    section.hero-section header {
        padding-inline: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.hero-section header h1 {
        font-size: 60px;
        max-width: 100%;
    }

    section.hero-section header p {
        margin-block: 17px;
        max-width: 70%;
        text-align: center;
    }

    section.hero-section header div.accounts p {
        max-width: 100%;
    }

}

@media(max-width: 450px) {
    section.hero-section header h1 {
        font-size: 50px;
        max-width: 100%;
    }

    section.hero-section header p {
        margin-block: 10px;
        max-width: 100%;
    }

    section.hero-section header div.buttons {
        margin-block: 35px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

/* END HERO SECTION */


/* START INFO-CONTENT */
.info-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 30px;
}


.info-content .box {
    display: flex;
    align-items: center;
}

.info-content .box .fa-solid {
    display: block;
    margin-right: 20px;
    font-size: 25px;
    color: var(--bleu-color);
}


.info-content .box div h4 {
    font-size: 25px;
    font-weight: bold;
}


@media(max-width: 880px) {
    .info-content {
        padding-block: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .info-content .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .info-content .box .fa-solid {
        margin-right: 0px;
    }

    .info-content .box div h4 {
        text-align: center;
    }
}

@media(max-width: 550px) {
    .info-content {
        padding-block: 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}

/* END INFO-CONTENT */

/* START SECONDE SECTIONS */
section.seconde_section {
    background-color: var(--account1-bg);
    padding-block: 50px;
}

section.seconde_section div.div_seconde_section {
    display: grid;
    grid-template-columns: 550px auto;
    gap: 50px;
    max-width: 1200px;
    margin-inline: auto;
}

section.seconde_section header span {
    color: var(--bleu-color);
    font-size: 10px;
    letter-spacing: 2px;
}

section.seconde_section header h2 {
    font-size: 40px;
    max-width: 80%;
}

section.seconde_section header p {
    margin-block: 20px;
}

section.seconde_section .images {
    position: relative;
}

section.seconde_section .images img:nth-child(2),
section.seconde_section .images img:nth-child(3),
section.seconde_section .images img:first-child {
    position: absolute;
}

section.seconde_section .images img:first-child {
    position: absolute;
    rotate: -20deg;
    left: 20%;
}

section.seconde_section .images img:nth-child(3) {
    right: -20px;
    rotate: 10deg;
}

section.seconde_section .images img:nth-child(2) {
    left: 70%;
    transform: translate(-50%, 40%);
    rotate: 20deg;
}


@media(max-width: 1030px) {
    section.seconde_section div.div_seconde_section {
        display: flex;
        flex-direction: column;
    }

    section.seconde_section header {
        font-size: 10px;
        letter-spacing: 2px;
        text-align: center;
    }

    section.seconde_section header h2 {
        font-size: 32px;
        max-width: 100%;
    }

    section.seconde_section .images {
        position: relative;
    }

    section.seconde_section .images img:nth-child(2),
    section.seconde_section .images img:nth-child(3),
    section.seconde_section .images img:first-child {
        position: relative;
    }

    section.seconde_section .images img:first-child {
        position: absolute;
        rotate: -20deg;
        left: 35%;
    }

    section.seconde_section .images img:nth-child(3) {
        right: -20px;
        rotate: 10deg;
    }

    section.seconde_section .images img:nth-child(2) {
        left: 65%;
        transform: translate(-50%, 40%);
        rotate: 20deg;
    }
}

@media(max-width: 670px) {
    section.seconde_section .images img {
        display: none;
    }
}

/* section */
/* END SECONDE SECTIONS */

/* START YOUCODE JOURNEY */
.youcode_journy {
    padding-block: 40px;
    background-color: var(--background);
    padding-inline: 30px;
    color: var(--white-color);
}

.youcode_journy h3 {
    font-size: 30px;
    font-weight: 700;
}

.youcode_journy p {
    font-weight: lighter;
}

.youcode_journy .container {
    display: grid;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.youcode_journy .container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youcode_journy .container .box span {
    font-size: 10px;
}

.youcode_journy .container .box i {
    background-color: var(--bleu-color);
    width: 43px;
    height: 43px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    margin-block: 10px;
}

.youcode_journy .container .box h4 {
    font-size: 11px;
    margin-bottom: 5px;
}

.youcode_journy .container .box p {
    font-size: 11px;
    max-width: 60%;
    text-align: center;
    font-weight: lighter;
}

@media(max-width: 750px) {
    .youcode_journy {
        padding-block: 10px;
        padding-inline: 5px;
    }

    .youcode_journy .container {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

/* END YOUCODE JOURNEY */

/* START SECTION EVENEMENT */
.evenement {
    display: grid;
    grid-template-columns: 350px auto;
    gap: 20px;
    padding-block: 20px;
    padding-inline: 10px;
}

.evenement .content-info {
    background-color: var(--bleu-color);
    color: var(--white-color);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.evenement .content-info span {
    font-weight: lighter;
    font-size: 11px;
}

.evenement .content-info h3 {
    margin-block: 10px;
    font-weight: bold;
}

.evenement .content-info p {
    font-weight: lighter;
    font-size: 11px;
}

.evenement .content-info button {
    background-color: var(--white-color);
    color: var(--bleu-color);
    margin-top: 10px;
}

.evenement .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.evenement .container .box {
    border: 1px solid gray;
    border-radius: 10px;
}

.evenement .container .box img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.evenement .container .box .content {
    padding-inline: 15px;
    padding-block: 20px;
}

.evenement .container .box .content p {
    margin-block: 10px;
    font-size: 12px;
    font-weight: 300;
}

.evenement .container .box .content button {
    background-color: transparent;
    border: 3px solid var(--bleu-color);
    display: block;
    min-width: 100%;
    color: var(--bleu-color);
    font-weight: bold;
}

@media(max-width:980px) {
    .evenement {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media(max-width: 550px) {
    .evenement .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}


/* END SECTION EVENEMENT */


/* START CLIENT REVIEW  */
.client_review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    padding-block: 20px;
    gap: 70px;
}

.client_review .content>h4 {
    font-size: 25px;
    font-weight: 300;
    max-width: 90%;
}

.client_review .content .profile {
    max-width: fit-content;
}

.client_review .content div.profile {
    margin-top: 10px;
    border-left: 4px solid var(--bleu-color);
    padding-left: 10px;
}

.client_review .content div.profile span {
    font-weight: lighter;
    font-size: 12px;
}

.client_review .content .dotes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.client_review .content .dotes i {
    height: 10px;
    width: 10px;
    background-color: var(--bleu-color);
    border-radius: 100%;
}

.client_review div.arrow {
    display: flex;
    gap: 15px;
}

.client_review div.arrow i {
    font-size: 25px;
    font-weight: bold;
}

@media(max-width: 890px) {
    .client_review {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 40px;
        padding-block: 20px;
        gap: 70px;
        flex-direction: column;
    }

    .client_review .content>h4 {
        font-size: 18px;
        font-weight: 300;
        max-width: 100%;
    }
}

/* END CLIENT REVIEW  */