@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background: #08111D;
    --bleu-color: #034BFF;
    --color-lime: #C3F85C;
    --white-color: #FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    list-style: none;
}

span.logo {
    font-size: 21px;
    font-weight: 800;
}

header.custom_header h2 {
    font-size: 30px;
}

header.custom_header span {
    color: var(--bleu-color);
    font-size: 12px;
    font-weight: 300;
}

/* START NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    min-height: 52px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-inline-start: 10px;
    color: #000;
    font-size: 13px;
}

nav div {
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: var(--bleu-color);
    border-bottom: 2px solid var(--bleu-color);
    padding-bottom: 5px;
}

nav div button {
    background-color: var(--bleu-color);
    padding-inline: 10px;
    padding-block: 6px;
    color: var(--white-color);
    border: none;
    margin-left: 40px;
    border-radius: 10px;
    max-width: 120px;
}


@media (max-width: 925px) {
    nav ul {
        display: none;
    }
}

/* END NAVBAR */


/* START FOOTER */
#footer {
    background-color: var(--background);
    padding: 50px 30px;
    color: var(--white-color);
}

#footer .top_footer {
    display: flex;
    justify-content: space-between;
}

#footer .top_footer div p {
    max-width: 60%;
    margin-top: 20px;
    font-weight: 200;
    font-size: 14px;
}

#footer .top_footer div span:not(.logo),
#footer .top_footer div ul li:first-child {
    color: var(--color-lime);
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 20px;
    display: block;
}

#footer .top_footer div ul li:not(:first-child) {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}

#footer .top_footer div button.btn {
    background-color: var(--color-lime);
    cursor: pointer;
}

#footer .bottom_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#footer .bottom_footer p {
    font-size: 12px;
    font-weight: 200;
}

@media(max-width: 800px) {
    #footer {
        padding: 30px 15px;
    }

    #footer .top_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer .top_footer div p {
        max-width: 100%;
        margin-top: 10px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
    }

    #footer .top_footer div ul li {
        text-align: center;
        margin-block: 5px;
    }

    #footer .bottom_footer {
        flex-direction: column;
    }

    #footer .bottom_footer p {
        margin-block: 5px;
        text-align: center;
    }
}


/* END FOOTER */

/* BUTTONS */

.btn {
    border-radius: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    border: none;
}

.btn-bleu {
    background: var(--bleu-color);
    color: white;
}